@import 'theme-colors';

body {
  background-color: var( --app-background-color);
}

.sub__header {
  p {
    color: var(--font-color);
  }
}

.header__brand {
  p {
    color: var(--dynamic-title-color);
  }
  small {
    color: var(--dynamic-title-color);
    a {
      color: var(--link-color);
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.header__search {
  input {
    background-color: var(--input-color);
    color: var(--font-color);
    :placeholder {
      color: var(--dynamic-subtitle-color);
    }
  }
}

.header__search:before {
  background-image: var(--search-icon);
}

.dynamic-subtitle {
  color: var(--dynamic-subtitle-color);
}

.result {
  .result__group {
    .card {
      background-color: var(--card-color);
      color: var(--font-color);
      .card__header {
        border-bottom: 1px solid var(--border-color);
      }
      .card-body {
        p {
          color: var(--card-body-color);
        }
      }
    }
  }
  .result__not-found {
    p {
      color: var(--font-color);
    }
  }
  .result__load-button {
    small {
      color: var(--font-color);
    }
  }
}

/*
* === THEME SWITCH ===
*/
input.theme-switch {
  display: block;
}

input.theme-switch + label {
  cursor: pointer;
  background: var(--dark-mode-icon);
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
  display: inline-block;
  content: '';
  top: 0;
}

input.theme-switch:not(:checked) + label:hover {
  cursor: pointer;
}

input.theme-switch + label:active,
input.theme-switch:checked + label {
  cursor: pointer;
}
